.lt-header{
    background-color: #ffffff;
    height: 78px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 0px;
    border: 0px;
}
.logo {
    height: 50px;
}
.nav-text{
    float: right;
    font-size: 16px;
}
.fuwu{
    padding-top: 80px;
    margin-bottom: 40px;
}
.card{
    color: #545454;
    background-color: #ffffff;
    display: inline-block;
    box-shadow: 0.2em 0 0.6em #cccccc;
    border-radius: .3em;
    overflow: hidden;
    max-width: 20em;
}
.jiaolian{
    padding-top: 40px;
    padding-bottom: 20px;
}
.jl-card{
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    max-width: 20em;
    margin-bottom: 20px;
}
.jl-img{
    height: 140px;
    width: 140px;
    margin-bottom: 20px;
    box-shadow: 0.2em 0 0.6em #cccccc;
}
.jl-text{
    font-size: 20px;
    color: #545454;
}
.food{
    margin-top: 80px;
    padding-top: 20px;
    margin-bottom: 40px;
}
.food-text{
    background-color: #ffd700;
    display: inline-block;
    height: 400px;
    padding-top: 120px;
    color: #ffffff;
}
.foot{
    margin-top: 20px;
    margin-bottom: 100px;
}
.foot-text{
    font-size: 12px;
    color: grey;
}